build/
src/exec/
src/Scripts/runtime_150_1.txt
src/Scripts/total_cell_mass_result.txt
src/Scripts/total_pressure_result.txt
src/Scripts/total_sie_result.txt
src/Scripts/velocity_result.txt
src/Scripts/diags*
*.ipynb_checkpoints*
